body {
  background: lightyellow;

}
.react-component, .outline {
  border: 3px outline black;
  border: 3px dashed black;
  border: 1px dotted black;
  background: lightyellow;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;



}


* {
  /* font-size: 1.5em; */
}


.button-plus, .button-minus {

  width: 150px;
  margin-right: 50px;
}


body { margin: 0 auto; width: 800px; text-align: center;}
